# ========================================= #
#        TMS - Task Managment System
# ========================================= #

# ================================================================================== #
# PORT, KEY AND TOKEN
# ================================================================================== #
PORT = 5002
APP_NAME = 'TMS'
CORS_ORIGIN = 'http://localhost:5173'
BACKEND_ORIGIN = 'http://localhost:5002'
SOCKET_ORIGIN = 'https://admin.socket.io'
ADMIN_SECRET_KEY = "admin_secret_key"

# ================================================================================== #
# ACCESS, REFRESH & TOKEN SECRET AND EXPIRY
# ================================================================================== #
ACCESS_TOKEN_SECRET = 'access_token_secret'
REFRESH_TOKEN_SECRET = 'access_token_expiry'
ACCESS_TOKEN_EXPIRY = 'refresh_token_secret'
REFRESH_TOKEN_EXPIRY = 'refresh_token_expiry'


# ================================================================================== #
# DATABASE, USERNAME, PASSWORD, NAME, HOST, PORT & REDIS URL
# ================================================================================== #
DATABASE_USERNAME = 'username' 
DATABASE_HOST = 'host'
DATABASE_PORT = 'port'
DATABASE_PASSWORD = 'database_password' 
DATABASE_NAME = 'database_name'
REDIS_URL = "redis_url"


# ================================================================================== #
# OTHER SERVICES AND PORTS
# ================================================================================== #
CLOUDINARY_CLOUD_NAME = 'cloudinary_cloud_name'
CLOUDINARY_API_KEY = 'cloudinary_api_key'
CLOUDINARY_API_SECRET = 'cloudinary_api_secret'

